.NavLinksContainer {
    height: 100%;
    display: flex;
    align-items: center;   
}

.LinksWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    list-style: none;
    background-color: white;
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 65px;
    left: 0;
}

.LinkItem {
    width: 100%;
    padding: 0 1.1em;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    margin-bottom: 10px;
}

.Link {
    text-decoration: none;
}

.Marginer {
    height: 2em; 
}